.home-container {
  width: 100vw;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 80px 40px 80px 80px;
  margin-top: 30px;
  align-items: center;
}
.header img {
  width: 190px;
  height: 70px;
}
.header a {
  text-decoration: none;
  margin-right: 39px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.charity {
  align-items: center;
  /* width: 100%; */
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
  margin-left: 40px;
  /* margin: 10px; */
}
.charity a {
  text-decoration: none;
}

.details p {
  width: 270px;
}
.details img {
  width: 270px;
  height: 320px;
}
.register {
  align-items: center;
  justify-content: center;
}
.register img {
  width: 30%;
}
.progress {
  transition: width 0.5s ease-in-out;
  background-color: red;
}
.events-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
  margin-top: 20px;
  row-gap: 20px;
}
.events {
  display: flex;
  width: 575px;
  height: 219px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
}
.events img {
  width: 195px;
  height: 175px;
  margin: 23px;
}
.details:hover {
  box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.1);
  background-color: red;

  transition: 0.5s;
}
